@import "./_variables.scss";

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: $mainFont;
	line-height: 1.5;
}

// Mixins
@mixin transform($property) {
	-webkit-transform: $property;
	-ms-transform: $property;
	transform: $property;
}

section {
	p {
		font-size: 1.2rem;
	}
}

// Classes
.card {
	margin: 15px auto;
	max-width: 1000px;
	border-radius: 6px;
	padding: 18px;
	color: $textColor;
	background: $mainColor + aa;
	// box-shadow: 0 0 5px 5px $mainColor + b1;

	p,
	li,
	a {
		font-size: 1.2rem;
	}
}

.wrapper {
	width: 80%;
	margin: auto;
}

.content {
	text-align: center;
	line-height: 1.5;
	position: absolute;
	top: $navbarHeight;
	width: 80%;
	margin: 0 10vw;
}

.title {
	font-size: 2.5rem;
	margin-bottom: 15px;
}

.link {
	color: #3366bb !important;
	text-decoration: underline;
}

.active {
	color: darkorange !important;
}

// Raw styles
a {
	text-decoration: none;
	color: $textColor;

	&:visited {
		color: $textColor;
	}
}

li {
	list-style-type: none;
}
