@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
@import url("https://fonts.googleapis.com/css2?family=DM+Mono");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap");

// Variables
$mainFont: "Josefin Sans";
$popupFont: "DM Mono";
$navbarHeight: 120px;
$footerHeight: 150px;
$mainColor: #333333;
$textColor: #eee;
$secondaryColor: #ccc;
$mainOpacity: bb;

// Exports
:export {
	navbarHeight: $navbarHeight;
	color: $mainColor;
	opacity: $mainOpacity;
}

// Mixins
@mixin transform($property) {
	-webkit-transform: $property;
	-ms-transform: $property;
	transform: $property;
}

// Base styles
.card {
	margin: 15px auto;
	max-width: 1000px;
	border-radius: 6px;
	padding: 18px;
	color: $textColor;
	background: $mainColor + aa;
	// box-shadow: 0 0 5px 5px $mainColor + b1;

	p,
	li,
	a {
		font-size: 1.2rem;
	}
}

.wrapper {
	width: 80%;
	margin: auto;
}

.hidden {
	display: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: $mainFont;
	line-height: 1.5;
}

.content {
	text-align: center;
	line-height: 1.5;
	position: absolute;
	top: $navbarHeight;
	width: 80%;
	margin: 0 10vw;
}

a {
	text-decoration: none;
	color: $textColor;
	&:visited {
		color: $textColor;
	}
}

p {
	font-size: 18px;
}
