@import "./_variables.scss";

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: $mainFont;
	line-height: 1.5;
}

// Mixins
@mixin transform($property) {
	-webkit-transform: $property;
	-ms-transform: $property;
	transform: $property;
}

a,
svg {
	-webkit-tap-highlight-color: transparent;

	&:active,
	&:focus {
		background-color: transparent;
	}
}

section {
	p {
		font-size: 1.2rem;
	}
}

// Classes
.card {
	margin: 15px auto;
	max-width: 1000px;
	border-radius: 6px;
	padding: 18px;
	color: $textColor;
	background: #333333aa;

	p,
	li,
	a {
		font-size: 1.2rem;
	}
}

.wrapper {
	width: 80%;
	margin: auto;
}

.content {
	text-align: center;
	line-height: 1.5;
	position: absolute;
	top: $navbarHeight;
	width: 80%;
	margin: 0 10vw;
}

.title {
	font-size: 2.5rem;
	margin-bottom: 15px;
}

.subtitle {
	padding: 8px;
	font-size: 1.5rem;
}

.link {
	color: #6986cf !important;
	text-decoration: underline;
}

.active {
	color: darkorange !important;
}

.hidden {
	opacity: 0;
	transform: scale(0.8);
}

.hide-overflow {
	overflow: hidden;
}

// Raw styles
a {
	text-decoration: none;
	color: $textColor;

	&:visited {
		color: $textColor;
	}
}

li {
	list-style-type: none;
}
