// main
#about-container {
	min-height: 300px;
	display: grid;
	grid-gap: 5px;
	grid-template-columns: auto 40%;
	grid-template-rows:
		minmax(40px, auto) repeat(2, auto) minmax(40px, auto)
		repeat(5, auto);
	grid-template-areas:
		"t1 image"
		"p1 image"
		"p1 image"
		". image"
		"t2 image"
		"p2 image"
		"p2 image"
		"t3 t3"
		"tb tb"
		"note note";

	p {
		text-align: justify;
	}

	#image {
		min-height: 200px;
		background-image: url(/images/tnf2.jpg);
		background-repeat: no-repeat;
		background-position: 75% 0;
		background-size: cover;
		margin-bottom: 25px;
	}

	#t3 {
		border-top: 1px solid #aaa;
		font-size: 2rem;
		padding: 10px 0;
	}

	#t2,
	#t1 {
		margin: auto 0;
	}

	#p1,
	#p2 {
		max-width: 95%;
		margin: 15px auto;
	}

	table#tb {
		width: 80%;
		border: 1px solid;
		margin: auto;
		border-collapse: collapse;

		td,
		th {
			border: 1px solid #555;
			padding: 5px;
		}

		th {
			font-size: 1.4rem;
			background: #000000bb;
		}

		tr {
			background-color: #222;

			&:nth-child(even) {
				background-color: #333;
			}

			&:hover {
				font-weight: bold;
			}
		}

		td {
			font-size: 1.2rem;
		}
	}
}

#about {
	min-height: 100em;
}

#note {
	margin-top: 10px !important;
	display: block;
	margin: auto;
	color: #ccc;
}

@media screen and (max-width: 1100px) {
	#about-container {
		grid-template-areas:
			"t1 t1"
			"p1 p1"
			"p1 p1"
			"image image"
			"t2 t2"
			"p2 p2"
			"p2 p2"
			"t3 t3"
			"tb tb"
			"note note";
	}
}

@media screen and (max-width: 1100px) {
	#image {
		background-position: 0 80% !important;
	}
}

// small
@media screen and (max-width: 450px) {
	#about {
		min-height: 130em !important;
	}
}

@media screen and (orientation: landscape) and (max-device-width: 500px) {
	#about {
		.component-container {
			min-height: 400vh !important;
		}
	}
}
