// main
#about-container {
	min-height: 300px;
	display: grid;
	grid-gap: 5px;
	grid-template-columns: auto 40%;
	grid-template-rows:
		minmax(40px, auto) repeat(2, auto) minmax(40px, auto)
		repeat(2, auto);
	grid-template-areas:
		"t1 image"
		"p1 image"
		"p1 image"
		". image"
		"t2 image"
		"p2 image"
		"p2 image";

	#image {
		min-height: 200px;
		background-image: url(/images/tnf2.jpg);
		background-repeat: no-repeat;
		background-position: 75% 0;
		background-size: cover;
		margin-bottom: 25px;
	}

	#t2,
	#t1 {
		margin: auto 0;
	}

	#p1,
	#p2 {
		max-width: 95%;
		margin: 15px auto;
	}
}

@media screen and (max-width: 1100px) {
	#about-container {
		grid-template-areas:
			"t1 t1"
			"p1 p1"
			"p1 p1"
			"image image"
			"t2 t2"
			"p2 p2"
			"p2 p2";
	}
}

@media screen and (max-width: 1100px) {
	#image {
		background-position: 0 80% !important;
	}
}

// medium
@media screen and (max-width: 800px) {
	#about {
		min-height: 150vh !important;
	}
}

// small
@media screen and (max-width: 450px) {
	#about {
		min-height: 230vh !important;
	}
}

@media screen and (max-width: 350px) {
	#about {
		min-height: 290vh !important;
	}
}
