// main
#contact {
	p {
		max-width: 90%;
		margin: auto;
	}

	.card {
		position: relative;
	}

	.popup {
		position: absolute;
		display: none;
		z-index: 999;
		top: 40%;
		box-shadow: 0 0 2px 2px #222;
		left: calc(50% - 200px);
		padding: 10px;
		font-size: 1.3rem;
		color: #fff;
		background: #222;
		border-radius: 5px;
		width: 400px;
		margin: auto;
		transition: opacity 250ms;
	}

	#medium-list {
		display: flex;
		justify-content: center;
		width: 80%;
		margin: 25px auto;

		li {
			border: 1px solid;
			margin: 15px;
			padding: 6px 10px;
			border-radius: 2px;
			min-width: 20%;
			cursor: pointer;

			&.facebook {
				background: #3b5998;
			}

			&.email {
				background-color: #ccc;
				border: 1px #fff solid;

				a {
					color: #000;
				}
			}

			&.discord {
				background-color: #555;
				color: #fff;
			}
		}
	}
}

// medium
@media screen and (max-width: 800px) {
	#contact {
		#medium-list {
			flex-flow: column wrap;
			width: 100%;
			align-items: center;

			li {
				width: 60%;
			}
		}

		&.component-container {
			min-height: 130vh;
		}
	}
}

// small
@media screen and (max-width: 450px) {
	#contact {
		&.component-container {
			min-height: 200vh;
		}

		#medium-list {
			li {
				width: 70%;
			}
		}
	}
}

@media screen and (max-width: 350px) {
	#contact {
		&.component-container {
			min-height: 240vh;
		}
	}
}

@media screen and (orientation: landscape) {
	#contact {
		&.component-container {
			min-height: 320vh;
		}
	}
}
