@import "./_variables.scss";

body {
	#home {
		.component-container {
			min-height: 110vh;
		}
	}

	#popup-text-container {
		padding: 25px 0;
		overflow: hidden;
		max-width: 1000px;
		display: flex;
		justify-content: center;
		color: #fff;
		background: transparent;

		#letter {
			text-shadow: 0px 0px 8px #000;
			font-size: 4rem;
			font-family: $popupFont;
			font-weight: bold;
		}
	}

	.title {
		font-size: 2.5rem;
		margin-bottom: 15px;
	}

	#section-one {
		display: grid;
		padding: 20px;
		min-height: 350px;
		grid-template: repeat(3, 1fr) / repeat(4, 1fr);
		grid-gap: 10px;

		grid-template-areas:
			"title title image image"
			"text text image image"
			"text text image image";

		.s3 {
			grid-area: image;
			display: flex;
			justify-content: center;

			#img {
				width: 100%;
				height: 100%;
				background-image: url(/images/markportrait-min.jpg);
				background-size: cover;
				background-position: center;
				min-height: 400px;
				max-width: 500px;
			}
		}

		h1 {
			grid-area: title;
			border-bottom: 1px solid;
			width: 90%;
			position: relative;
			margin: auto;
			padding: 5px;
			border-width: 1px;
		}

		p {
			overflow: hidden;
			grid-area: text;
			padding: 5px;
			font-size: 1.2rem;
		}
	}

	#section-two {
		padding: 65px 25px;

		> * {
			text-align: center;
		}

		h1 {
			padding-bottom: 15px;
		}
	}

	#image-two,
	#image-three {
		.card {
			position: relative;
			display: flex;
			top: 30%;

			h1 {
				margin: auto;
			}
		}
	}

	#image-two {
		.card {
			flex-direction: column;

			h1 {
				display: block;
				font-size: 4rem;

				&:nth-child(1) {
					border-bottom: 1px solid;
				}
			}
		}
	}

	#image-three {
		font-size: 1.8rem;
		text-align: center;
	}

	#arrow {
		position: relative;
		top: -30px;
		overflow: hidden;
		min-height: 500px;
		transition: all 200ms;
		transform: scale(0.7);

		#a1,
		#a2 {
			position: absolute;
			left: 50%;
			margin-left: calc(-0.5 * #{$arrowWidth});
		}

		#a2 {
			animation: a2 1200ms infinite;
		}

		svg {
			overflow: hidden;
			animation: a1 1200ms infinite;
		}
	}

	@keyframes a1 {
		from {
			opacity: 1;
			transform: translatey(0);
		}
		20% {
			opacity: 0.1;
		}
		to {
			opacity: 0;
			transform: translatey(50px);
		}
	}

	@keyframes a2 {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
}

@media screen and (max-width: 1200px) {
	#section-one,
	#section-two {
		p {
			text-align: justify;
		}
	}
}

@media screen and (max-width: 700px) {
	#main-content {
		padding-bottom: 297px;
	}

	#section-one {
		grid-template-rows: repeat(8, 1fr) minmax(450px, auto);
		grid-template-columns: auto minmax(400px, auto);

		grid-template-areas:
			"title title title title"
			"title title title title"
			"title title title title"
			"text text text text"
			"text text text text"
			"text text text text"
			"text text text text"
			"text text text text"
			". image image .";

		p {
			text-align: justify;
			grid-area: text;
		}
	}

	#section-two {
		p {
			text-align: justify;
		}
	}

	#letter {
		font-size: 3rem;
	}

	#image-two,
	#image-three {
		.card {
			h1 {
				margin: auto;
				font-size: 2.4rem;
			}
		}
	}

	#image-three {
		h1 {
			margin: auto;
		}
	}

	#greeting {
		p {
			text-align: justify;
		}
	}
}

@media screen and (max-width: 800px) {
	#popup-text-container {
		display: inline-grid !important;
		grid-template-columns: repeat(8, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-template-areas:
			". . . H i exclm . ."
			"I comma m . M a r k";

		font-size: 4rem;
		overflow: hidden;

		#letter {
			width: auto;
			position: relative;
		}
	}

	#home {
		.component-container {
			min-height: 130vh !important;
		}
	}
}

@media screen and (max-width: 450px) {
	#section-one {
		grid-template-columns: auto minmax(260px, auto) !important;
	}

	#arrow {
		display: none;
	}

	#home {
		.component-container {
			min-height: 140vh !important;
		}
	}
}

@media screen and (orientation: landscape) and (max-device-width: 500px) {
	#home {
		.component-container {
			min-height: 250vh !important;
		}
	}
}
