body {
	#popup-text-container {
		overflow: hidden;
		max-width: 1000px;
		display: flex;
		justify-content: center;

		#letter {
			font-size: 4rem;
			font-family: $popupFont;
			font-weight: bold;
		}
	}

	#section-one {
		display: grid;
		padding: 20px;
		grid-template: repeat(3, 1fr) / repeat(4, 1fr);
		grid-gap: 10px;

		grid-template-areas:
			"title title image image"
			"text text image image"
			"text text image image";

		.s3 {
			background: lightblue;
			grid-area: image;
		}

		h1 {
			grid-area: title;
			border-bottom: 1px solid;
			width: 90%;
			position: relative;
			margin: auto;
			padding: 5px;
			border-width: 1px;
		}

		p {
			overflow: hidden;
			grid-area: text;
			padding: 5px;
			font-size: 1.2rem;
		}
	}
}

@media screen and (max-width: 700px) {
	body {
		#main-content {
			padding-bottom: 297px; // Needs to be made dynamic
		}

		#section-one {
			grid-template-rows: repeat(8, 1fr) 200px;
			grid-template-columns: auto;
			height: auto !important;

			grid-template-areas:
				"title title title title"
				"title title title title"
				"title title title title"
				"text text text text"
				"text text text text"
				"text text text text"
				"text text text text"
				"text text text text"
				"image image image image";

			h1 {
				grid-area: title;
			}

			p {
				text-align: justify;
				grid-area: text;
			}

			.s3 {
				grid-area: image;
			}
		}

		#letter {
			font-size: 3rem;
		}
	}
}

@media screen and (max-width: 800px) {
	body {
		#popup-text-container {
			display: inline-grid !important;
			grid-template-columns: repeat(8, 1fr);
			grid-template-rows: repeat(2, 1fr);
			grid-template-areas:
				". . . H i exclm . ."
				"I comma m . M a r k";

			color: #fff;
			font-size: 4rem;
			overflow: hidden;

			#letter {
				width: auto;
				position: relative;
			}
		}
	}
}
