// Background images
.image {
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	height: 700px;
	width: 100vw;
}

#image-one {
	background-image: url(/images/trees.jpg);

	.content {
		display: inline-block;
	}
}

#image-two {
	background-image: url(/images/codingpic.jpg);
	position: relative;
	height: 600px;

	&::after {
		content: "";
		background: #fff;
		position: absolute;
		width: 100%;
		opacity: 0.15;
		top: 0;
		left: 0;
		bottom: 0;
		top: 0;
	}
}
