nav {
	display: flex;
	color: $textColor;
	z-index: 3;
	overflow: visible;
	position: fixed;
	opacity: 1;
	width: 100vw;
	height: $navbarHeight;
	background: #333333bb;
	transition: background 200ms;

	#brand-logo {
		overflow: hidden;
	}

	#menu-icon-container {
		z-index: 6;
		margin: auto 0;
		fill: #fff;
		cursor: pointer;
	}

	.menu-item {
		transition: 100ms all;

		&:hover {
			color: orange;
		}
	}

	#navlist {
		display: none;
	}

	.wrapper {
		display: flex;
		height: 70%;
		justify-content: space-between;
	}

	#sidebar {
		width: 300px;
	}
}

@media screen and (max-width: 700px) {
	nav {
		#navlist {
			display: none;
		}

		.wrapper {
			display: flex;
		}

		.container {
			margin: auto 0;
			max-width: 45px;
			max-height: 42px;
		}

		#sidebar {
			width: 100vw;
		}

		ul {
			margin-top: 1.5rem;
			display: flex;
			flex-flow: column nowrap;
			justify-content: space-evenly;
			height: 270px;
		}

		#menu-icon {
			border: 1px dashed white;
		}
	}
}

@media screen and (min-width: 900px) {
	#menu-icon-container,
	#menu-icon {
		display: none;
	}

	#navlist {
		display: flex !important;
		width: 40%;
		min-width: 500px;
		display: flex;
		justify-content: space-around;

		li {
			margin: auto 0;
			overflow: hidden;

			a {
				font-size: 1.15rem;
				border-radius: 6px;
				padding: 20px;
				transition: color 200ms;

				&:hover {
					color: #ffa500;
				}
			}
		}
	}
}
