$navbarHeight: 120px;
$mainColor: #333;
$secondaryColor: #ccc;

* {
    body {
		background-color: $secondaryColor;

		.card {
			margin: 25px auto 0 auto;
			max-width: 800px;
			border-radius: 6px;
			padding: 18px;
			background: $mainColor;
			color: #ddd;
			
			.card-image {
				max-width: 100%;
				border-radius: 6px;
				min-width: 250px;
			}
		}

        nav {
            display:flex;
            color: #fff;
            z-index: 2;
            position: fixed;
            opacity: 1;
            width: 100vw;
            height: $navbarHeight;
			background: $mainColor;
			

			#brand-logo {
				max-width: 70px;
			}

			#menu-icon, #menu-icon-container {
				display: none;
			}

            .wrapper {
               display: flex;
               height: 70%;
			   justify-content: space-between;
			}
			
            #navlist {
                display: flex;
                width: 40%;
                min-width: 500px;
                display: flex;
				justify-content: space-evenly;
				
                li {
					list-style: none;
					margin: auto 0;

					a {
						background-color: #807474;
						padding: 16px 16px;
						border-radius: 6px;
						transition: background-color 200ms;

						&:hover {
							background-color: #001;
							color: #ddd;
						}
					}
                }

            }

        }
    }
}

@media screen and (max-width: 800px) {
	body {

		nav {

			#navlist {
				display: none;
			}

			.wrapper {
				display: flex;
			}
			
			.container {
				margin: auto 0;
				max-width: 45px;
				max-height: 42px;
			}

			#menu-icon {
				display: block;
				fill: #fff;
			}
		}
	}
}

@media screen and (min-width: 1500px) {

}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.content {
	text-align: center;
	line-height: 1.5;
	position: absolute;
	top: $navbarHeight;
	width: 80%;
	margin: 0 10vw;
}

.wrapper {
	width: 80%;
	margin: auto;
}

a {
	text-decoration: none;
	&:visited {
		color: #fff;
	}
}