@import 'styles/_base';

* {
    body {
		// background-color: $secondaryColor;
		background-image: url(/images/trees.jpg);

		img {
			width: 100%;
			border-radius: 4px;
		}

        nav {
            display:flex;
            color: $textColor;
            z-index: 2;
            position: fixed;
            opacity: 1;
            width: 100vw;
            height: $navbarHeight;
			background: $mainColor;
			

			#brand-logo {
				max-width: 70px;
			}

			#menu-icon, #menu-icon-container {
				display: none;
			}

            .wrapper {
               display: flex;
               height: 70%;
			   justify-content: space-between;
			}
			
            #navlist {
                display: flex;
                width: 40%;
                min-width: 500px;
                display: flex;
				justify-content: space-evenly;
				
                li {
					list-style: none;
					margin: auto 0;

					a {
						background-color: #807474;
						padding: 16px 16px;
						border-radius: 6px;
						transition: background-color 200ms;

						&:hover {
							background-color: #001;
							color: $textColor;
						}
					}
                }

            }

        }
    }
}

@media screen and (max-width: 800px) {
	body {

		nav {

			#navlist {
				display: none;
			}

			.wrapper {
				display: flex;
			}
			
			.container {
				margin: auto 0;
				max-width: 45px;
				max-height: 42px;
			}

			#menu-icon {
				display: block;
				fill: #fff;
			}
		}
	}
}

#popup-text {
	color: #fff;
	font-size: 86px;
	margin: auto;
	max-width: 700px;
	font-family: 'Times New Roman', Times, serif;
}

@keyframes typewriter {
	from {
		width: 0;
	}
	to {
		// width: 10px;
		width: 16em;
	}
}

