@import "styles/_base";
@import "styles/_variables.scss";
@import "styles/media.scss";
@import "styles/responsive.scss";
@import "styles/footer.scss";
@import "styles/nav.scss";
@import "styles/home.scss";
@import "styles/about.scss";
@import "styles/contact.scss";

// Main
* {
	overflow-x: hidden;

	#main-content {
		position: relative;
		padding-bottom: $footerHeight;
		min-height: 100vh;
	}

	#App {
		position: relative;
	}
}

.component-container {
	background-size: cover;
	background-position: center;
	width: 100vw;
	min-height: 100vh;
	background-attachment: fixed;
	background-image: url(/images/treesblur2-min.jpg);
}

section {
	width: 100vw;
	text-align: center;
	background: #ddd;
	max-height: auto;

	h1 {
		font-size: 40px;
	}
}

#text {
	border: 1px dashed;
	border-top: none;
	font-family: monospace;
}

#sidebar {
	display: flex;
	z-index: 3;
	flex-flow: column nowrap;
	position: fixed;
	background: #444;
	background: linear-gradient(#222, #555);
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;

	ul {
		margin: 15% 0;
		min-height: 250px;

		li {
			width: 90%;
			padding: 10px 0;
			margin: 5px auto;
			text-align: center;
			min-height: 50px;
			overflow-y: hidden;

			a {
				border-radius: 5px;
				padding: 15px;
				font-size: 1.5rem;
			}
		}
	}
}

#preloader > div {
	overflow: hidden;
	padding: 25px;
}

@media screen and (max-width: 450px) {
	#popup-text-container {
		#letter {
			font-size: 2.8rem !important;
		}
	}
}
@media screen and (orientation: landscape) and (max-device-width: 500px) {
	#arrow {
		display: none;
	}
}
